<template>
  <div id="app">
    <div id="nav">
      <h1 class="ui header">
        <router-link to="/hypertension">Hypertension</router-link> |
        <router-link to="/kidneydisease">Kidney Disease</router-link>
      </h1>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#9d1b72;
}
#nav {
  text-align: center;
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #9d1b72;
    }
  }
}
</style>
