<template>
  <div>
    <div class="ui fluid action input">
      <input v-model="calculatorInput" type="text" placeholder="Data...">
      <div class="ui button" v-on:click="readInput">Calculate</div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class CalculatorInput extends Vue {

    _calculatorInput:string = "";

    readInput () {
      this.$emit('readInput',this._calculatorInput);
    }

    get calculatorInput() {
      return this._calculatorInput;
    }

    set calculatorInput(value:string) {
      this._calculatorInput = value;
    }

  }
</script>
