<template v-bind:id="entries">
  <div class="ui celled list">
    <div v-for="dataEntry in entries" class="item">
      <div class="content">
        <h3 class="header">{{dataEntry.reading}}</h3>
      </div>
      <div class="middle aligned content ">
        <div class="description left floated">
          {{dataEntry.date}}
        </div>
        <div class="ui content right floated">
          <ul>
          <li>SysBP:{{dataEntry.sysBP}}</li>
          <li>DiaBP:{{dataEntry.diaBP}}</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { HypertensionResultResource } from '@auxita-code-exercise/api';

  @Component
  export default class HypertensionList extends Vue {
    @Prop()
    entries: HypertensionResultResource[];
  }
</script>
