<template v-bind:id="entries">
  <div class="ui celled list">
    <div v-for="dataEntry in entries" class="item">
      <div class="content">
        <h3 class="header">{{dataEntry.reading}}</h3>
      </div>
      <div class="middle aligned content ">
        <div class="description left floated">
          {{dataEntry.date}}
          <div v-if="dataEntry.eGFRDrop>20">Drop:{{(dataEntry.eGFRDrop).toFixed(2)}}%</div>
        </div>
        <div class="ui content right floated">
          <div class="ui right">
            <ul>
              <li>eGFR:{{dataEntry.eGFR}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import { KidneyDiseaseResultResource } from '@auxita-code-exercise/api';

  @Component
  export default class KidneyDiseaseList extends Vue {
    @Prop()
    entries: KidneyDiseaseResultResource[];
  }
</script>
