<template>
     <div v-if="errorResource.constraints.length" class="ui segment">
       <div v-for="error in errorResource.constraints" class="ui relaxed divided list">
         <div class="item">
           <i class="large code middle aligned icon"></i>
           <div class="content">
             <a class="header">{{error}}</a>
           </div>
         </div>

       </div>
     </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { ValidationErrorResponseResource } from '@auxita-code-exercise/api';

  @Component
  export default class ValidationPrompt extends Vue {
    get errorResource(): ValidationErrorResponseResource {
      return (this.$store as any).get('validationErrors');
    }
  }
</script>
