<template>
  <div class="hypertension">
    <h3 id="calculatorTitle" class="ui header">Hypertension Calculator</h3>
    <div class="ui segment">
      <validation-prompt></validation-prompt>
      <calculator-input v-on:readInput="readInput"></calculator-input>
    </div>

    <h4 class="ui horizontal divider header">
      Last Input
    </h4>

    <div class="ui container">
        <HypertensionList v-bind:entries="results.entries" ></HypertensionList>
    </div>

    <h4 class="ui horizontal divider header">
      History
    </h4>

      <div class="ui container">
        <HypertensionList v-bind:entries="results.log" ></HypertensionList>
      </div>


  </div>
</template>

<script lang="ts" src="./HyperTension.ts"></script>

<style lang="scss">
  #calculatorTitle {
    text-align: center;
  }
</style>
