<template>
  <div class="kidneydisease">
    <h3 id="calculatorTitle" class="ui header">Kidney Disease Calculator</h3>
    <div class="ui segment">
      <validation-prompt></validation-prompt>
      <calculator-input v-on:readInput="readInput"></calculator-input>
    </div>

    <h4 class="ui horizontal divider header">
      Last Input
    </h4>

    <div class="ui container">
      <KidneyDiseaseList v-bind:entries="results.entries" ></KidneyDiseaseList>
    </div>

    <h4 class="ui horizontal divider header">
      History
    </h4>

    <div class="ui container">
      <KidneyDiseaseList v-bind:entries="results.log" ></KidneyDiseaseList>
    </div>

  </div>
</template>

<script lang="ts" src="./KidneyDisease.ts"> </script>

<style lang="scss">
  #calculatorTitle {
    text-align: center;
  }
</style>
